
menu-list
    menu-item
      a(class='view-pill hoverable', href='#/chat') Chat
    menu-item
      a(class='view-pill hoverable', href='#/create') Create
    menu-item
      a(class='view-pill hoverable', href='#/nearme') Near Me
